In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df =pd.read_csv('spotify_millsongdata.csv')
df

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57650 entries, 0 to 57649
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  57650 non-null  object
 1   song    57650 non-null  object
 2   link    57650 non-null  object
 3   text    57650 non-null  object
dtypes: object(4)
memory usage: 1.8+ MB

In [4]:
df.duplicated().sum()

np.int64(0)

In [5]:
df.shape

(57650, 4)

In [6]:
df = df.sample(5000).drop('link',axis =1).reset_index(drop =True)

In [7]:
df.head()

,artist,song,text
0,Blur,Battery In Your Leg,This is a ballad for the good times \r\nSo pu...
1,LL Cool J,Born To Love You,"You're not a chicken-head going ""hee-shey"" \r..."
2,Poison,Blame It On You,She's got pizazz \r\nLike a razzmatazz \r\nI...
3,John Mellencamp,Serious Business,You ain't goin' nowhere \r\nGonna sit by this...
4,Rammstein,Schwarzes Glas (Black Glass) English,"A small wish, oh if you were blind \r\nwe are..."

In [8]:
df['text'][0]

"This is a ballad for the good times  \r\nSo put a battery in your leg  \r\nPut a rock beat over anything  \r\nGet it stuck there in your head  \r\nYou can be with me  \r\n  \r\nI got nothing to rely on  \r\nI've broken every bone  \r\nEverybody's stop believing  \r\nBut you know you're not alone  \r\nYou can be with me  \r\n  \r\nThis is a ballad for the good times  \r\nAnd all the dignity we had  \r\nDon't get het up on the evil things  \r\nYou ain't coming back  \r\nYou can be with me  \r\nIf you want to be  \r\nYou can be with me?\r\n\r\n"

In [9]:
df = df.sample(5000)

In [10]:
df.shape

(5000, 3)

# Text cleaning

In [11]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex =True)

In [12]:
df.head()

,artist,song,text
2387,New Order,Your Silent Face,a thought that never changes \r remains a stu...
914,Waterboys,Why Look At The Moon,willows were swaying \r the water was ripplin...
4972,Foreigner,The Beat Of My Heart,ooh the beat of my heart \r ooh the beat of m...
2529,Bryan White,So Much For Pretending,straight out of some story \r you walk in in ...
4391,Van Morrison,Evening Train,love to hear that evening train go by \r love...

In [13]:
#pip install nltk

In [14]:
#import nltk
import nltk
nltk.download('punkt_tab')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [15]:
stemmer = PorterStemmer()

In [16]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [17]:
token('oh my god! what a fabulous room!')

'oh my god ! what a fabul room !'

In [18]:
df['text'].apply(lambda x: token(x))

2387    a thought that never chang remain a stupid lie...
914     willow were sway the water wa rippl the froggi...
4972    ooh the beat of my heart ooh the beat of my he...
2529    straight out of some stori you walk in in all ...
4391    love to hear that even train go by love to hea...
                              ...
46      never more awar of what you do . i got you lea...
4523    say it say it say it tell it like it is say it...
4978    when you 're feel low hypoderm 's where you go...
489     let me tell you a stori let me shovel some dir...
4644    today i pass you on the street and my heart fe...
Name: text, Length: 5000, dtype: object

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
 tfid =TfidfVectorizer(analyzer ='word' ,stop_words ='english')

In [21]:
matrix = tfid.fit_transform(df['text'])

In [22]:
similer = cosine_similarity(matrix)

In [23]:
similer

array([[1.        , 0.00496451, 0.00597553, ..., 0.05083303, 0.00872858,
        0.01999958],
       [0.00496451, 1.        , 0.01585477, ..., 0.0106054 , 0.        ,
        0.0080076 ],
       [0.00597553, 0.01585477, 1.        , ..., 0.02777327, 0.00576027,
        0.05020402],
       ...,
       [0.05083303, 0.0106054 , 0.02777327, ..., 1.        , 0.02370336,
        0.01695784],
       [0.00872858, 0.        , 0.00576027, ..., 0.02370336, 1.        ,
        0.00646277],
       [0.01999958, 0.0080076 , 0.05020402, ..., 0.01695784, 0.00646277,
        1.        ]], shape=(5000, 5000))

In [24]:
#df[df['song'] == 'Charge Me Up'].index[0]

# Recommender function

In [25]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance =sorted(list(enumerate(similer[idx])),reverse =True ,key =lambda x: x[1])
    song =[]
    for s_id in distance[1:10]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [27]:
recommender('Your Silent Face')

['Dreams Come True',
 'Fantasy (Bad Boy Fantasy)',
 'How Sweet It Is',
 'Sweet Love',
 'I Can See Forever In Your Eyes',
 'Sweet, Sweet Smile',
 'My Sweet One',
 'Georgia Keeps Pulling On My Ring',
 'Sweet Surrender']

In [29]:
import pickle

In [31]:
pickle.dump(similer,open("similarity.pkl",'wb'))

In [32]:
pickle.dump(df ,open('data.pkl','wb'))